### Imputation of Data

In [62]:
import os
import pandas as pd
import numpy as np
from fancyimpute import KNN

/home/mkumar9824/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [28]:
df = pd.read_csv("Employee.csv")

In [ ]:
## Exploring and cleaning the data

In [29]:

df.shape

(2403, 10)

In [30]:
df.head()

,JOB_TITLE,Years_Of_Service,Age,Gender,Race,ObjectID,CreationDate,Creator,EditDate,Editor
0,Police Officer,2.0,27,Male,White,2001,2019-04-08T09:01:54.997Z,CharlotteNC,2019-04-08T09:01:54.997Z,CharlotteNC
1,Police Officer,2.0,24,Male,White,2002,2019-04-08T09:01:54.997Z,CharlotteNC,2019-04-08T09:01:54.997Z,CharlotteNC
2,Police Officer,2.0,25,Male,White,2003,2019-04-08T09:01:54.997Z,CharlotteNC,2019-04-08T09:01:54.997Z,CharlotteNC
3,Police Officer,2.0,25,Male,White,2004,2019-04-08T09:01:54.997Z,CharlotteNC,2019-04-08T09:01:54.997Z,CharlotteNC
4,Police Officer,2.0,30,Female,White,2005,2019-04-08T09:01:54.997Z,CharlotteNC,2019-04-08T09:01:54.997Z,CharlotteNC

In [31]:
df['Race'].unique()

array(['White', 'Black/African American', 'Hispanic/Latino',
       'Asian / Pacific Islander', 'Not Specified', ' ',
       'American Indian/Alaska Native', '2 or More'], dtype=object)

In [32]:
df['CreationDate'].unique()

array(['2019-04-08T09:01:54.997Z'], dtype=object)

In [33]:
#marketing_train['schooling'] = marketing_train['schooling'].replace("illiterate", "unknown")
df['Race']=df['Race'].replace('2 or More','Asian')

In [34]:
# Let's see how many missing values are there 
missing_val = pd.DataFrame(df.isnull().sum())

In [35]:
missing_val  # here missing value is only in Column Years_Of_Service

                  0
JOB_TITLE         0
Years_Of_Service  2
Age               0
Gender            0
Race              0
ObjectID          0
CreationDate      0
Creator           0
EditDate          0
Editor            0

In [36]:
missing_val = missing_val.reset_index()

In [37]:
missing_val

              index  0
0         JOB_TITLE  0
1  Years_Of_Service  2
2               Age  0
3            Gender  0
4              Race  0
5          ObjectID  0
6      CreationDate  0
7           Creator  0
8          EditDate  0
9            Editor  0

In [38]:
#Rename variables 'index' and 'zero'
missing_val = missing_val.rename(columns = {'index': 'Variables', 0: 'Missing_percentage'})

In [39]:
missing_val

          Variables  Missing_percentage
0         JOB_TITLE                   0
1  Years_Of_Service                   2
2               Age                   0
3            Gender                   0
4              Race                   0
5          ObjectID                   0
6      CreationDate                   0
7           Creator                   0
8          EditDate                   0
9            Editor                   0

In [40]:
#Calculate percentage : convert absolute value in to percentage 
missing_val['Missing_percentage'] = (missing_val['Missing_percentage']/len(df))*100

In [41]:
missing_val

          Variables  Missing_percentage
0         JOB_TITLE            0.000000
1  Years_Of_Service            0.083229
2               Age            0.000000
3            Gender            0.000000
4              Race            0.000000
5          ObjectID            0.000000
6      CreationDate            0.000000
7           Creator            0.000000
8          EditDate            0.000000
9            Editor            0.000000

In [42]:
#descending order sort the data in descending bcz all values exist on top order Missing_percentage is ref variable for sorting 
missing_val = missing_val.sort_values('Missing_percentage', ascending = False).reset_index(drop = True)

missing_val

          Variables  Missing_percentage
0  Years_Of_Service            0.083229
1         JOB_TITLE            0.000000
2               Age            0.000000
3            Gender            0.000000
4              Race            0.000000
5          ObjectID            0.000000
6      CreationDate            0.000000
7           Creator            0.000000
8          EditDate            0.000000
9            Editor            0.000000

### Missing value analysis :

In [44]:
# Let's Create a Missing Value so Arbitrarly lets select some varaible, let's say Age
df['Age'].loc[100] # at location 100 there is a value 32

32

In [48]:
# lets create missing value there 
df['Age'].loc[100]=np.nan

/home/mkumar9824/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [49]:
df['Age'].loc[100] # At location under Age varaible now there is an missing value exit

nan

In [ ]:
# Now I ll try to impute Age at this location for this I have option as below 
# High level central statistics : Mean or Median
# KNN algorithm

In [ ]:
# In next step I ll try to impute the Mean and Median value and then Apply the KNN algorithm. 
# and Simulteneosly will validate the accuracy, which method will give the higher accuracy that will be final for this data set

In [51]:
# 1. let's Impute the Mean 
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [52]:
df['Age'].loc[100] # So mean predicted value is 40.16 while Our Accurate value was 32

40.169442131557034

In [ ]:
# let's Try to Impute Median Value but before that make value null at the same location under varaible Age

In [53]:
df['Age'].loc[100]=np.nan

/home/mkumar9824/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [54]:
df['Age'].loc[100] # Again value is missing at loc 100

nan

In [ ]:
# 2. Impute the Median

In [55]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [56]:
df['Age'].loc[100] # Again predicted value is 40.0 by Imputing median

40.0

In [ ]:
# Before applying the KNN algo let's again put the NA value at location 100 itself

In [57]:
df['Age'].loc[100]=np.nan

/home/mkumar9824/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [58]:
df['Age'].loc[100]

nan

## KNN Imputation

In [59]:
lis = []
for i in range(0, df.shape[1]):
    #print(i)
    if(df.iloc[:,i].dtypes == 'object'):
        df.iloc[:,i] = pd.Categorical(df.iloc[:,i])
        #print(df[[i]])
        df.iloc[:,i] = df.iloc[:,i].cat.codes 
        df.iloc[:,i] = df.iloc[:,i].astype('object')
        
        lis.append(df.columns[i])

In [60]:
#replace -1 with NA to impute
for i in range(0, df.shape[1]):
    df.iloc[:,i] = df.iloc[:,i].replace(-1, np.nan)

In [64]:
#Apply KNN imputation algorithm
df = pd.DataFrame(KNN(k = 3).fit_transform(df), columns = df.columns)

Imputing row 1/2403 with 0 missing, elapsed time: 0.765
Imputing row 101/2403 with 1 missing, elapsed time: 0.765
Imputing row 201/2403 with 0 missing, elapsed time: 0.767
Imputing row 301/2403 with 0 missing, elapsed time: 0.767
Imputing row 401/2403 with 0 missing, elapsed time: 0.767
Imputing row 501/2403 with 0 missing, elapsed time: 0.768
Imputing row 601/2403 with 0 missing, elapsed time: 0.768
Imputing row 701/2403 with 0 missing, elapsed time: 0.769
Imputing row 801/2403 with 0 missing, elapsed time: 0.769
Imputing row 901/2403 with 0 missing, elapsed time: 0.769
Imputing row 1001/2403 with 0 missing, elapsed time: 0.770
Imputing row 1101/2403 with 0 missing, elapsed time: 0.771
Imputing row 1201/2403 with 0 missing, elapsed time: 0.772
Imputing row 1301/2403 with 0 missing, elapsed time: 0.772
Imputing row 1401/2403 with 0 missing, elapsed time: 0.773
Imputing row 1501/2403 with 0 missing, elapsed time: 0.773
Imputing row 1601/2403 with 0 missing, elapsed time: 0.773
Imputing row 1701/2403 with 0 missing, elapsed time: 0.774
Imputing row 1801/2403 with 0 missing, elapsed time: 0.774
Imputing row 1901/2403 with 0 missing, elapsed time: 0.775
Imputing row 2001/2403 with 0 missing, elapsed time: 0.775
Imputing row 2101/2403 with 0 missing, elapsed time: 0.776
Imputing row 2201/2403 with 0 missing, elapsed time: 0.777
Imputing row 2301/2403 with 0 missing, elapsed time: 0.777
Imputing row 2401/2403 with 0 missing, elapsed time: 0.778

In [66]:
df['Age'].loc[100] # When I used the KNN algo to Impute the value the predicted value is 29.17 which closet to actual value 32 so In this data we will use KNN algo to impute the missing value

29.172413279034068