In [18]:
#remove all the objects stored
rm(list=ls())

### Two types of variables
- Categorical
- Ordinal. Ex: Low, medium, high
- Nominal. Ex: Tiger, Lion, Elephant
- Continuous. Ex: 4, 5, 3.2
### Different types of data
- Factor
- Character
- Numeric

# Changing the data type
### Neural networks
– All attributes must be numeric
### Naive Bayes
– All attributes must be categorical

### Changing numeric to categorical
- Equal frequency (Number of samples in each bin is equal)
- Let us say, we have the data for price: 4, 8, 9, 15, 21, 21, 24, 25, 26, 28, 29, 34
- If we partition into equal-frequency (equi-depth) bins we get the following three bins
- Bin 1: 4, 8, 9, 15
- Bin 2: 21, 21, 24, 25
- Bin 3: 26, 28, 29, 34

### Equal width (Interval is same (good for uniform distributions))
#### If we partition into equal width then we get
- Bin 1: 4, 8, 9
- Bin 2: 15, 21, 21, 24
- Bin 3: 25, 26, 28, 29, 34

### Changing categorical to numeric
- Five codes for marital status (“single,” “divorced,” “married,” “widowed,” and
“unknown”) would be mapped to –1.0, –0.5, 0.0, +0.5, +1.0, respectively

### References
- https://www.r-bloggers.com/
- https://www.statmethods.net/
- http://rfunction.com/

In [1]:
getwd()

[1] "/home/mkumar9824/Manoj_Doc/DataScience/R_lang"

In [20]:
#setwd("PATH") # Set the Current Working Directoty

ERROR: Error in setwd("PATH"): cannot change working directory

In [21]:
#instaling packages
install.packages("packageName")

Warning message:
“package ‘packageName’ is not available (for R version 3.5.1)”

In [22]:
#Install multiple packages at a time
#install.packages(c("dplyr","plyr","reshape","ggplot2","data.table"))

In [23]:
##Load data in R
#reading CSV
#df = read.csv("MissingInfo-V2.csv", header = T)

In [28]:
#To read the Excekl file follow below steps 
#1. install.packages("tidyverse")
#library(tidyverse)
2. #install.packages("readxl")
#install.packages("xlsx", dependencies = TRUE)
#library(xlsx)
#install.packages(xlsx)
#data_excel = read.xlsx("movie_metadata.xlsx",sheet = 1, skipEmptyRows = FALSE)
#install.packages("xlsx")
#library("xlsx")
#install.packages("xlsx", dependencies = TRUE)
#library("xlsx")

[1] 2

In [37]:
#reading .txt file as dataframe
data = read.delim("S08_question_answer_pairs.txt",sep = "\t", header = F) 
#,

In [38]:
#Getting the number of variables and obervation in the datasets
dim(data)

[1] 1716    6

In [43]:
#Getting first 5 rows and first 6 column of the dataset
data[1:5,1:6]

  V1
1 ArticleTitle
2 Abraham_Lincoln
3 Abraham_Lincoln
4 Abraham_Lincoln
5 Abraham_Lincoln
  V2                                                                V3
1 Question                                                          Answer
2 Was Abraham Lincoln the sixteenth President of the United States? yes
3 Was Abraham Lincoln the sixteenth President of the United States? Yes.
4 Did Lincoln sign the National Banking Act of 1863?                yes
5 Did Lincoln sign the National Banking Act of 1863?                Yes.
  V4                       V5                     V6
1 DifficultyFromQuestioner DifficultyFromAnswerer ArticleFile
2 easy                     easy                   S08_set3_a4
3 easy                     easy                   S08_set3_a4
4 easy                     medium                 S08_set3_a4
5 easy                     easy                   S08_set3_a4

In [45]:
#Getting first 6 columns of the dataset
data[, 1:6]

In [3]:
data=read.csv("P2-Demographic-Data.csv")

In [4]:
head(data)

  Country.Name         Country.Code Birth.rate Internet.users
1 Aruba                ABW          10.244     78.9
2 Afghanistan          AFG          35.253      5.9
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
  Income.Group
1 High income
2 Low income
3 Upper middle income
4 Upper middle income
5 High income
6 High income

In [5]:

# First, Second Row and Second and Third COlumn
df<-data
df[1:2, 2:3]#

  Country.Code Birth.rate
1 ABW          10.244
2 AFG          35.253

In [6]:
# Just First Column with All rows
df[, 1]

  [1] Aruba                          Afghanistan
  [3] Angola                         Albania
  [5] United Arab Emirates           Argentina
  [7] Armenia                        Antigua and Barbuda
  [9] Australia                      Austria
 [11] Azerbaijan                     Burundi
 [13] Belgium                        Benin
 [15] Burkina Faso                   Bangladesh
 [17] Bulgaria                       Bahrain
 [19] Bahamas, The                   Bosnia and Herzegovina
 [21] Belarus                        Belize
 [23] Bermuda                        Bolivia
 [25] Brazil                         Barbados
 [27] Brunei Darussalam              Bhutan
 [29] Botswana                       Central African Republic
 [31] Canada                         Switzerland
 [33] Chile                          China
 [35] Cote d'Ivoire                  Cameroon
 [37] Congo, Rep.                    Colombia
 [39] Comoros                        Cabo Verde
 [41] Costa Rica                     Cuba
 [43] Cayman Islands                 Cyprus
 [45] Czech Republic                 Germany
 [47] Djibouti                       Denmark
 [49] Dominican Republic             Algeria
 [51] Ecuador                        Egypt, Arab Rep.
 [53] Eritrea                        Spain
 [55] Estonia                        Ethiopia
 [57] Finland                        Fiji
 [59] France                         Micronesia, Fed. Sts.
 [61] Gabon                          United Kingdom
 [63] Georgia                        Ghana
 [65] Guinea                         Gambia, The
 [67] Guinea-Bissau                  Equatorial Guinea
 [69] Greece                         Grenada
 [71] Greenland                      Guatemala
 [73] Guam                           Guyana
 [75] Hong Kong SAR, China           Honduras
 [77] Croatia                        Haiti
 [79] Hungary                        Indonesia
 [81] India                          Ireland
 [83] Iran, Islamic Rep.             Iraq
 [85] Iceland                        Israel
 [87] Italy                          Jamaica
 [89] Jordan                         Japan
 [91] Kazakhstan                     Kenya
 [93] Kyrgyz Republic                Cambodia
 [95] Kiribati                       Korea, Rep.
 [97] Kuwait                         Lao PDR
 [99] Lebanon                        Liberia
[101] Libya                          St. Lucia
[103] Liechtenstein                  Sri Lanka
[105] Lesotho                        Lithuania
[107] Luxembourg                     Latvia
[109] Macao SAR, China               Morocco
[111] Moldova                        Madagascar
[113] Maldives                       Mexico
[115] Macedonia, FYR                 Mali
[117] Malta                          Myanmar
[119] Montenegro                     Mongolia
[121] Mozambique                     Mauritania
[123] Mauritius                      Malawi
[125] Malaysia                       Namibia
[127] New Caledonia                  Niger
[129] Nigeria                        Nicaragua
[131] Netherlands                    Norway
[133] Nepal                          New Zealand
[135] Oman                           Pakistan
[137] Panama                         Peru
[139] Philippines                    Papua New Guinea
[141] Poland                         Puerto Rico
[143] Portugal                       Paraguay
[145] French Polynesia               Qatar
[147] Romania                        Russian Federation
[149] Rwanda                         Saudi Arabia
[151] Sudan                          Senegal
[153] Singapore                      Solomon Islands
[155] Sierra Leone                   El Salvador
[157] Somalia                        Serbia
[159] South Sudan                    Sao Tome and Principe
[161] Suriname                       Slovak Republic
[163] Slovenia                       Sweden
[165] Swaziland                      Seychelles
[167] Syrian Arab Republic           Chad
[169] Togo                           Thailand
[171] Tajikistan                     Turkmenistan
[173] Timor-Leste                    Tonga
[175] Trinidad and Tobago            Tunisia
[177] Turkey                         Tanzania
[179] Uganda                         Ukraine
[181] Uruguay                        United States
[183] Uzbekistan                     St. Vincent and the Grenadines
[185] Venezuela, RB                  Virgin Islands (U.S.)
[187] Vietnam                        Vanuatu
[189] West Bank and Gaza             Samoa
[191] Yemen, Rep.                    South Africa
[193] Congo, Dem. Rep.               Zambia
[195] Zimbabwe
195 Levels: Afghanistan Albania Algeria Angola Antigua and Barbuda ... Zimbabwe

In [7]:
# First and Third Column with All rows
df[,c(1,3)]

    Country.Name                   Birth.rate
1   Aruba                          10.244
2   Afghanistan                    35.253
3   Angola                         45.985
4   Albania                        12.877
5   United Arab Emirates           11.044
6   Argentina                      17.716
7   Armenia                        13.308
8   Antigua and Barbuda            16.447
9   Australia                      13.200
10  Austria                         9.400
11  Azerbaijan                     18.300
12  Burundi                        44.151
13  Belgium                        11.200
14  Benin                          36.440
15  Burkina Faso                   40.551
16  Bangladesh                     20.142
17  Bulgaria                        9.200
18  Bahrain                        15.040
19  Bahamas, The                   15.339
20  Bosnia and Herzegovina          9.062
21  Belarus                        12.500
22  Belize                         23.092
23  Bermuda                        10.400
24  Bolivia                        24.236
25  Brazil                         14.931
26  Barbados                       12.188
27  Brunei Darussalam              16.405
28  Bhutan                         18.134
29  Botswana                       25.267
30  Central African Republic       34.076
⋮   ⋮                              ⋮
166 Seychelles                     18.600
167 Syrian Arab Republic           24.043
168 Chad                           45.745
169 Togo                           36.080
170 Thailand                       11.041
171 Tajikistan                     30.792
172 Turkmenistan                   21.322
173 Timor-Leste                    35.755
174 Tonga                          25.409
175 Trinidad and Tobago            14.590
176 Tunisia                        19.800
177 Turkey                         16.836
178 Tanzania                       39.518
179 Uganda                         43.474
180 Ukraine                        11.100
181 Uruguay                        14.374
182 United States                  12.500
183 Uzbekistan                     22.500
184 St. Vincent and the Grenadines 16.306
185 Venezuela, RB                  19.842
186 Virgin Islands (U.S.)          10.700
187 Vietnam                        15.537
188 Vanuatu                        26.739
189 West Bank and Gaza             30.394
190 Samoa                          26.172
191 Yemen, Rep.                    32.947
192 South Africa                   20.850
193 Congo, Dem. Rep.               42.394
194 Zambia                         40.471
195 Zimbabwe                       35.715

In [59]:
#data type
class(data$Internet.users)
class(data$Income.Group)

[1] "numeric"

[1] "factor"

In [8]:
#Unique values in a column
unique(data$Income.Group)
unique(data$Internet.users)

[1] High income         Low income          Upper middle income
[4] Lower middle income
Levels: High income Low income Lower middle income Upper middle income

  [1] 78.90000  5.90000 19.10000 57.20000 88.00000 59.90000 41.90000 63.40000
  [9] 83.00000 80.61880 58.70000  1.30000 82.17020  4.90000  9.10000  6.63000
 [17] 53.06150 90.00004 72.00000 57.79000 54.17000 33.60000 95.30000 36.94000
 [25] 51.04000 73.00000 64.50000 29.90000 15.00000  3.50000 85.80000 86.34000
 [33] 66.50000 45.80000  8.40000  6.40000  6.60000 51.70000  6.50000 37.50000
 [41] 45.96000 27.93000 74.10000 65.45480 74.11040 84.17000  9.50000 94.62970
 [49] 45.90000 16.50000 40.35368 29.40000  0.90000 71.63500 79.40000  1.90000
 [57] 91.51440 37.10000 81.91980 27.80000  9.20000 89.84410 43.30000 12.30000
 [65]  1.60000 14.00000  3.10000 16.40000 59.86630 35.00000 65.80000 19.70000
 [73] 65.40000 74.20000 17.80000 66.74760 10.60000 72.64390 14.94000 15.10000
 [81] 78.24770 29.95000 96.54680 70.80000 58.45930 41.00000 89.71000 54.00000
 [89] 39.00000 23.00000  6.80000 11.50000 84.77000 75.46000 12.50000 70.50000
 [97]  3.20000 46.20000 93.80000 21.90000  5.00000 68.45290 93.77650 75.23440
[105] 56.00000 45.00000  3.00000 44.10000 43.46000 65.24000 68.91380 60.31000
[113] 20.00000  5.40000  6.20000  5.05000 66.97000 13.90000 66.00000  1.70000
[121] 38.00000 15.50000 93.95640 95.05340 13.30000 82.78000 66.45000 10.90000
[129] 44.03000 39.20000 37.00000 62.84920 73.90000 62.09560 36.90000 56.80000
[137] 85.30000 49.76450 67.97000  9.00000 60.50000 22.70000 13.10000 81.00000
[145]  8.00000 23.10930  1.50000 51.50000 14.10000 37.40000 77.88260 72.67560
[153] 94.78360 24.70000 50.40000 26.20000  2.30000  4.50000 28.94000 16.00000
[161]  9.60000  1.10000 63.80000 43.80000 46.25000  4.40000 16.20000 57.69000
[169] 84.20000 38.20000 52.00000 54.90000 45.30000 43.90000 11.30000 46.60000
[177] 15.30000 46.50000  2.20000 15.40000 18.50000

In [9]:
#Count of unique values in a column
length(unique(data$Internet.users))

[1] 181

In [10]:
#Distribution of unique values in a column
table(data$Country.Name)

                   Afghanistan                        Albania
                             1                              1
                       Algeria                         Angola
                             1                              1
           Antigua and Barbuda                      Argentina
                             1                              1
                       Armenia                          Aruba
                             1                              1
                     Australia                        Austria
                             1                              1
                    Azerbaijan                   Bahamas, The
                             1                              1
                       Bahrain                     Bangladesh
                             1                              1
                      Barbados                        Belarus
                             1                              1
                       Belgium                         Belize
                             1                              1
                         Benin                        Bermuda
                             1                              1
                        Bhutan                        Bolivia
                             1                              1
        Bosnia and Herzegovina                       Botswana
                             1                              1
                        Brazil              Brunei Darussalam
                             1                              1
                      Bulgaria                   Burkina Faso
                             1                              1
                       Burundi                     Cabo Verde
                             1                              1
                      Cambodia                       Cameroon
                             1                              1
                        Canada                 Cayman Islands
                             1                              1
      Central African Republic                           Chad
                             1                              1
                         Chile                          China
                             1                              1
                      Colombia                        Comoros
                             1                              1
              Congo, Dem. Rep.                    Congo, Rep.
                             1                              1
                    Costa Rica                  Cote d'Ivoire
                             1                              1
                       Croatia                           Cuba
                             1                              1
                        Cyprus                 Czech Republic
                             1                              1
                       Denmark                       Djibouti
                             1                              1
            Dominican Republic                        Ecuador
                             1                              1
              Egypt, Arab Rep.                    El Salvador
                             1                              1
             Equatorial Guinea                        Eritrea
                             1                              1
                       Estonia                       Ethiopia
                             1                              1
                          Fiji                        Finland
                             1                              1
                        France               French Polynesia
                             1                              1
                         Gabon                    Gambia, The
                             1                              1
                       Georgia                        Germany
                             1                              1
                         Ghana                         Greece
                             1                              1
                     Greenland                        Grenada
                             1                              1
                          Guam                      Guatemala
                             1                              1
                        Guinea                  Guinea-Bissau
                             1                              1
                        Guyana                          Haiti
                             1                              1
                      Honduras           Hong Kong SAR, China
                             1                              1
                       Hungary                        Iceland
                             1                              1
                         India                      Indonesia
                             1                              1
            Iran, Islamic Rep.                           Iraq
                             1                              1
                       Ireland                         Israel
                             1                              1
                         Italy                        Jamaica
                             1                              1
                         Japan                         Jordan
                             1                              1
                    Kazakhstan                          Kenya
                             1                              1
                      Kiribati                    Korea, Rep.
                             1                              1
                        Kuwait                Kyrgyz Republic
                             1                              1
                       Lao PDR                         Latvia
                             1                              1
                       Lebanon                        Lesotho
                             1                              1
                       Liberia                          Libya
                             1                              1
                 Liechtenstein                      Lithuania
                             1                              1
                    Luxembourg               Macao SAR, China
                             1                              1
                Macedonia, FYR                     Madagascar
                             1                              1
                        Malawi                       Malaysia
                             1                              1
                      Maldives                           Mali
                             1                              1
                         Malta                     Mauritania
                             1                              1
                     Mauritius                         Mexico
                             1                              1
         Micronesia, Fed. Sts.                        Moldova
                             1                              1
                      Mongolia                     Montenegro
                             1                              1
                       Morocco                     Mozambique
                             1                              1
                       Myanmar                        Namibia
                             1                              1
                         Nepal                    Netherlands
                             1                              1
                 New Caledonia                    New Zealand
                             1                              1
                     Nicaragua                          Niger
                             1                              1
                       Nigeria                         Norway
                             1                              1
                          Oman                       Pakistan
                             1                              1
                        Panama               Papua New Guinea
                             1                              1
                      Paraguay                           Peru
                             1                              1
                   Philippines                         Poland
                             1                              1
                      Portugal                    Puerto Rico
                             1                              1
                         Qatar                        Romania
                             1                              1
            Russian Federation                         Rwanda
                             1                              1
                         Samoa          Sao Tome and Principe
                             1                              1
                  Saudi Arabia                        Senegal
                             1                              1
                        Serbia                     Seychelles
                             1                              1
                  Sierra Leone                      Singapore
                             1                              1
               Slovak Republic                       Slovenia
                             1                              1
               Solomon Islands                        Somalia
                             1                              1
                  South Africa                    South Sudan
                             1                              1
                         Spain                      Sri Lanka
                             1                              1
                     St. Lucia St. Vincent and the Grenadines
                             1                              1
                         Sudan                       Suriname
                             1                              1
                     Swaziland                         Sweden
                             1                              1
                   Switzerland           Syrian Arab Republic
                             1                              1
                    Tajikistan                       Tanzania
                             1                              1
                      Thailand                    Timor-Leste
                             1                              1
                          Togo                          Tonga
                             1                              1
           Trinidad and Tobago                        Tunisia
                             1                              1
                        Turkey                   Turkmenistan
                             1                              1
                        Uganda                        Ukraine
                             1                              1
          United Arab Emirates                 United Kingdom
                             1                              1
                 United States                        Uruguay
                             1                              1
                    Uzbekistan                        Vanuatu
                             1                              1
                 Venezuela, RB                        Vietnam
                             1                              1
         Virgin Islands (U.S.)             West Bank and Gaza
                             1                              1
                   Yemen, Rep.                         Zambia
                             1                              1
                      Zimbabwe
                             1

In [67]:
#Summary of a varaible 
summary(data$Income.Group)

        High income          Low income Lower middle income Upper middle income
                 67                  30                  50                  48

In [68]:
#squaring the number
5^2

[1] 25

In [69]:
#Modulo
7%%2

[1] 1

In [70]:
#Mean
mean(data$Internet.users)

[1] 42.07647

In [71]:
#Median
median(data$Internet.users)

[1] 41

In [72]:
#Standard deviation
sd(data$Internet.users)

[1] 29.03079

In [73]:
#Variance of the column
var(data$Internet.users)

[1] 842.7867

In [74]:
#Add all the values of column
sum(data$Internet.users)

[1] 8204.912

In [76]:
# Writing a csv (output)
write.csv(data, "data_output_pract.csv", row.names = F)

In [ ]:
    # Writing a xlsx file
write.xlsx(data, "data_excelwork.xlsx", row.names = F)

In [80]:
df2=read.csv("data_output_pract.csv")

In [81]:
head(df2)

  Country.Name         Country.Code Birth.rate Internet.users
1 Aruba                ABW          10.244     78.9
2 Afghanistan          AFG          35.253      5.9
3 Angola               AGO          45.985     19.1
4 Albania              ALB          12.877     57.2
5 United Arab Emirates ARE          11.044     88.0
6 Argentina            ARG          17.716     59.9
  Income.Group
1 High income
2 Low income
3 Upper middle income
4 Upper middle income
5 High income
6 High income

In [85]:
#Create vector
vec_V1 = c(2,3,4,6)
vec_V1

[1] 2 3 4 6

In [86]:
#Create list
lis = list("India",5,6,7)
lis

[[1]]
[1] "India"

[[2]]
[1] 5

[[3]]
[1] 6

[[4]]
[1] 7

In [88]:
# Create a matrix
sample_matrix = matrix(1:9, byrow = T, nrow = 3) # This inserts elements by rows

In [89]:
sample_matrix

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [90]:
matrix(1:10, byrow = F, ncol = 3) # This inserts elements by columns # data Recyling

Warning message in matrix(1:10, byrow = F, ncol = 3):
“data length [10] is not a sub-multiple or multiple of the number of rows [4]”

     [,1] [,2] [,3]
[1,] 1    5     9
[2,] 2    6    10
[3,] 3    7     1
[4,] 4    8     2

In [91]:
# Naming a matrix
colnames(sample_matrix) = c("One","Two","Three")
sample_matrix

     One Two Three
[1,] 1   2   3
[2,] 4   5   6
[3,] 7   8   9

In [94]:
rownames(sample_matrix)<-c("X",'Y','Z')
sample_matrix

  One Two Three
X 1   2   3
Y 4   5   6
Z 7   8   9

In [95]:
#transpose matrix
t(sample_matrix)

      X Y Z
One   1 4 7
Two   2 5 8
Three 3 6 9

In [96]:
#Let us learn how to create data frame
df = data.frame(age = c(2, 3, 4, 5), Gender = c("M", "F", "F", "M"), Income = c(5,6,7,3))

In [38]:
head(df)

  age Gender Income
1 2   M      5
2 3   F      6
3 4   F      7
4 5   M      3

In [99]:
#Rename variable
names(df)[2]="Gen"
head(df)

  age Gen Income
1 2   M   5
2 3   F   6
3 4   F   7
4 5   M   3

In [102]:
#convert vector into dataframes
vec_V1
#Method Number 1
df_vec_1=data.frame(vec_V1)

[1] 2 3 4 6

In [103]:
is.data.frame(df_vec_1)

[1] TRUE

In [104]:
# Method Number 2
df_vec_2=as.data.frame(vec_V1)

In [105]:
is.data.frame(df_vec_2)

[1] TRUE

In [107]:
head(data,n=2)

  Country.Name Country.Code Birth.rate Internet.users Income.Group
1 Aruba        ABW          10.244     78.9           High income
2 Afghanistan  AFG          35.253      5.9           Low income

In [108]:
NewData_V1 = subset(data, select = c("Country.Name","Country.Code","Birth.rate","Income.Group"))

In [109]:
head(NewData_V1)

  Country.Name         Country.Code Birth.rate Income.Group
1 Aruba                ABW          10.244     High income
2 Afghanistan          AFG          35.253     Low income
3 Angola               AGO          45.985     Upper middle income
4 Albania              ALB          12.877     Upper middle income
5 United Arab Emirates ARE          11.044     High income
6 Argentina            ARG          17.716     High income

In [114]:
#selecting the rows with condition
data_rowLevel = data[which(data$Income.Group =="High income"),]
Birth.rate

In [120]:
# Selecting the colname with the condition 
#data_colLevel=data[data$Birth.rate > 40,]
head(data_colLevel)

    Country.Name Country.Code Birth.rate Internet.users Income.Group
3   Angola       AGO          45.985     19.1           Upper middle income
12  Burundi      BDI          44.151      1.3           Low income
15  Burkina Faso BFA          40.551      9.1           Low income
66  Gambia, The  GMB          42.525     14.0           Low income
116 Mali         MLI          44.138      3.5           Low income
128 Niger        NER          49.661      1.7           Low income

In [121]:
head(data_rowLevel)

   Country.Name         Country.Code Birth.rate Internet.users Income.Group
1  Aruba                ABW          10.244     78.9000        High income
5  United Arab Emirates ARE          11.044     88.0000        High income
6  Argentina            ARG          17.716     59.9000        High income
8  Antigua and Barbuda  ATG          16.447     63.4000        High income
9  Australia            AUS          13.200     83.0000        High income
10 Austria              AUT           9.400     80.6188        High income

In [125]:
#convert each varaible
#data$cyl = as.factor(data$cyl)
#data$vs = as.factor(data$vs)

In [ ]:
#Convert n number of variables at a time
for(i in c(2,8:11)){
  data[,i] = as.factor(data[,i])
}

In [ ]:
#Convert numeric to categorical/binning
data$mpgcat[data$mpg >= 10 & data$mpg <= 16] = "Low"
data$mpgcat[data$mpg > 16 & data$mpg <= 20] = "Medium"
data$mpgcat[data$mpg > 20] = "High"

In [ ]:
#Convert categorical into numeric
voice = c(rep("Meduim", 30), rep("Poor", 30), rep("Rich", 40))
voice_factor = factor(voice, labels = (1:length(levels(factor(voice)))))
voice_numeric = as.numeric(voice_factor)

In [ ]:
#Sorting in ascending order
data = data[order(-data$cyl),]

In [ ]:

#Sorting in descending order
data = data[order(-data$mpg, -data$gear),]

In [ ]:

#Merging Two dataframes
df1 = data.frame(CustomerId = c(1:6), Product = c(rep("Toaster", 3), rep("Radio", 3)))
df2 = data.frame(CustomerId = c(2, 4, 6), State = c(rep("Alabama", 2), rep("Ohio", 1)))
MergedData = merge(df1, df2, by = "CustomerId")

In [1]:

#Joins
LeftJoin = merge(df1, df2, by = "CustomerId", all.x = TRUE) #vlookup
RightJoin = merge(df1, df2, by = "CustomerId", all.y = TRUE)
CrossJoin = merge(df1, df2, by = NULL)

ERROR: Error in merge(df1, df2, by = "CustomerId", all.x = TRUE): object 'df1' not found

In [ ]:
#Aggregating
data = mtcars
aggregate(data, by = list(data$gear), mean)

aggregate(data, by = list(data$cyl, data$vs), mean)
aggregate(data, by = list(data$cyl), sd)

In [ ]:
#Gives the observation which have cyl value 6
grep(6, data$cyl)
grep(14.3, data$mpg)

In [ ]:
#Repalcing one/multiple characters by other
text="I/work/in/India"

gsub("/", "#", text)

In [ ]:
x = c("This is a sentence about axis",
       "A second pattern is also listed here")

sub("is", "XY", x) #only first occurence
gsub("is", "XY", x) #All occurence

In [ ]:
#remove column by its name
data$mpg = NULL

In [2]:
#convert row.names into a column
data = cbind(rownames(data), data)
rownames(data) = NULL
colnames(data)[1] = "CarNames"

In [ ]:
write.csv(data, "data_transform.csv", row.names = F)

In [ ]:
###loops
# Lets define vector
Player1 = c(16, 9, 13, 5, 2, 17, 14)
for (i in Player1) {
  print(i)
  print(i+2)
}

In [8]:
german = read.csv("German.csv")

In [9]:
head(german)

  default account_check_status duration_in_month
1 0       < 0 DM                6
2 1       0 <= ... < 200 DM    48
3 0       no checking account  12
4 0       < 0 DM               42
5 1       < 0 DM               24
6 0       no checking account  36
  credit_history
1 critical account/ other credits existing (not at this bank)
2 existing credits paid back duly till now
3 critical account/ other credits existing (not at this bank)
4 existing credits paid back duly till now
5 delay in paying off in the past
6 existing credits paid back duly till now
  purpose                      credit_amount savings
1 domestic appliances          1169          unknown/ no savings account
2 domestic appliances          5951          ... < 100 DM
3 (vacation - does not exist?) 2096          ... < 100 DM
4 radio/television             7882          ... < 100 DM
5 car (new)                    4870          ... < 100 DM
6 (vacation - does not exist?) 9055          unknown/ no savings account
  present_emp_since  installment_as_income_perc
1 .. >= 7 years      4
2 1 <= ... < 4 years 2
3 4 <= ... < 7 years 2
4 4 <= ... < 7 years 2
5 1 <= ... < 4 years 3
6 1 <= ... < 4 years 2
  personal_status_sex                 ⋯ present_res_since
1 male : single                       ⋯ 4
2 female : divorced/separated/married ⋯ 2
3 male : single                       ⋯ 3
4 male : single                       ⋯ 4
5 male : single                       ⋯ 4
6 male : single                       ⋯ 4
  property                                                         age
1 real estate                                                      67
2 real estate                                                      22
3 real estate                                                      49
4 if not A121 : building society savings agreement/ life insurance 45
5 unknown / no property                                            53
6 unknown / no property                                            35
  other_installment_plans housing  credits_this_bank
1 none                    own      2
2 none                    own      1
3 none                    own      1
4 none                    for free 1
5 none                    for free 2
6 none                    for free 1
  job                         people_under_maintenance
1 skilled employee / official 1
2 skilled employee / official 1
3 unskilled - resident        2
4 skilled employee / official 2
5 skilled employee / official 2
6 unskilled - resident        2
  telephone                                 foreign_worker
1 yes, registered under the customers name  yes
2 none                                      yes
3 none                                      yes
4 none                                      yes
5 none                                      yes
6 yes, registered under the customers name  yes

In [10]:
german = read.csv("German.csv",header=T)

In [11]:
head(german)

  default account_check_status duration_in_month
1 0       < 0 DM                6
2 1       0 <= ... < 200 DM    48
3 0       no checking account  12
4 0       < 0 DM               42
5 1       < 0 DM               24
6 0       no checking account  36
  credit_history
1 critical account/ other credits existing (not at this bank)
2 existing credits paid back duly till now
3 critical account/ other credits existing (not at this bank)
4 existing credits paid back duly till now
5 delay in paying off in the past
6 existing credits paid back duly till now
  purpose                      credit_amount savings
1 domestic appliances          1169          unknown/ no savings account
2 domestic appliances          5951          ... < 100 DM
3 (vacation - does not exist?) 2096          ... < 100 DM
4 radio/television             7882          ... < 100 DM
5 car (new)                    4870          ... < 100 DM
6 (vacation - does not exist?) 9055          unknown/ no savings account
  present_emp_since  installment_as_income_perc
1 .. >= 7 years      4
2 1 <= ... < 4 years 2
3 4 <= ... < 7 years 2
4 4 <= ... < 7 years 2
5 1 <= ... < 4 years 3
6 1 <= ... < 4 years 2
  personal_status_sex                 ⋯ present_res_since
1 male : single                       ⋯ 4
2 female : divorced/separated/married ⋯ 2
3 male : single                       ⋯ 3
4 male : single                       ⋯ 4
5 male : single                       ⋯ 4
6 male : single                       ⋯ 4
  property                                                         age
1 real estate                                                      67
2 real estate                                                      22
3 real estate                                                      49
4 if not A121 : building society savings agreement/ life insurance 45
5 unknown / no property                                            53
6 unknown / no property                                            35
  other_installment_plans housing  credits_this_bank
1 none                    own      2
2 none                    own      1
3 none                    own      1
4 none                    for free 1
5 none                    for free 2
6 none                    for free 1
  job                         people_under_maintenance
1 skilled employee / official 1
2 skilled employee / official 1
3 unskilled - resident        2
4 skilled employee / official 2
5 skilled employee / official 2
6 unskilled - resident        2
  telephone                                 foreign_worker
1 yes, registered under the customers name  yes
2 none                                      yes
3 none                                      yes
4 none                                      yes
5 none                                      yes
6 yes, registered under the customers name  yes

In [14]:
#use if condition in for loop
for(i in 1:nrow(german)){
  if(german$present_emp_since[i] == 4){
    german$newcol[i] = 1
  } else {german$newcol[i] = 0}
}

In [15]:

#ifelse condition
german$account_check_status = ifelse(german$present_emp_since == 4, 1, 0)

In [16]:
###Apply family
#apply function
apply(german[1:10,1:9], 1, mean)
apply(german[1:10, 1:5], 1, median)

apply(german[,1:5], 2, sd)
apply(german[,1:5], 2, var)

Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”

 1  2  3  4  5  6  7  8  9 10
NA NA NA NA NA NA NA NA NA NA

   1    2    3    4    5    6    7    8    9   10
 "0" "48"  "0" "42" "24"  "0" "24" "36" "12" "30"

Warning message in var(if (is.vector(x) || is.factor(x)) x else as.double(x), na.rm = na.rm):
“NAs introduced by coercion”Warning message in var(if (is.vector(x) || is.factor(x)) x else as.double(x), na.rm = na.rm):
“NAs introduced by coercion”

             default account_check_status    duration_in_month
           0.4584869            0.0000000           12.0588145
      credit_history              purpose
                  NA                   NA

Warning message in FUN(newX[, i], ...):
“NAs introduced by coercion”Warning message in FUN(newX[, i], ...):
“NAs introduced by coercion”

             default account_check_status    duration_in_month
           0.2102102            0.0000000          145.4150060
      credit_history              purpose
                  NA                   NA

In [ ]:
# german[2,4] = NA
# 
# df = data.frame(apply(german, 2, function(x){sum(is.na(x))}))
# apply(german[,1:10], 2, function(x){sum(is.na(x))})

In [ ]:

#create your own function
m = matrix(data = cbind(rnorm(30, 0), rnorm(30, 2), rnorm(30, 5)), nrow = 30,
           ncol = 3)
apply(m, 2, function(x) length(x[x<0]))

In [ ]:
#lapply
lapply(german[,1:9], mean)

In [ ]:
#sapply
# Find the square of each number using sapply and lapply
temp = c(10, 20, 30, 40, 50)

In [17]:
sapply(temp, function(x){x * x}) #return vector
#lapply(german[,1:9], mean)
lapply(temp, function(x){x * x}) #return list

ERROR: Error in lapply(X = X, FUN = FUN, ...): object 'temp' not found

In [ ]:

unlist(lapply(temp, function(x){x * x}))