In [2]:
#remove all the objects stored
rm(list=ls())

In [ ]:
#Create vector
vec_V1 = c(2,3,4,6)

In [ ]:
#Create list
lis = list("India",5,6,7)
class(lis)

In [ ]:
 # Create a matrix
sample_matrix = matrix(1:9, byrow = T, nrow = 3) # This inserts elements by rows
sample_matrix

In [ ]:

matrix(1:10, byrow = F, ncol = 3) # This inserts elements by columns
sample_matrix

In [ ]:
# Naming a matrix
colnames(sample_matrix) = c("One","Two","Three")
sample_matrix

In [ ]:
#transpose matrix
t(sample_matrix)
sample_matrix

In [ ]:
#Let us learn how to create data frame
df = data.frame(age = c(2, 3, 4, 5), Gender = c("M", "F", "F", "M"), Income = c(5,6,7,3))

In [ ]:
#Rename varaible
names(df)[2] = "Gen"

In [ ]:
#convert vector into dataframes
df_vec = as.data.frame(vec_V1)

In [ ]:
#Selecting variables from the dataset and making a new dataset
data = mtcars
NewData_V1 = subset(data, select = c("mpg","cyl","hp","am"))

In [ ]:
#selecting the rows with condition
data_rowLevel = data[which(data$mpg == 21.4),]
data_rowLevel

In [ ]:
#Creating new variable
data$LogMPG = with(data, log(mpg))
data
data$abc = with(data, cyl)
data

In [ ]:

# Adding rows of two data frame
d1 = data.frame(a = c(3,4,5,6), b = c(4,5,6,6)) #Let us create two data frame to merge
d2 = data.frame(a = c(5,6,7,8), b = c(4,5,7,8))

In [ ]:
d3 = rbind(d1,d2)
d3

In [ ]:
#Adding columns 
d3 = cbind(d1, d2)
d3

In [5]:
#Data types
data = mtcars
head(data)
data$cyl

In [ ]:
#convert each varaible
data$cyl = as.factor(data$cyl)
data$cyl
is.numeric(data$cyl)
is.factor(data$cy)
data$vs = as.factor(data$vs)

In [ ]:
#Convert n number of variables at a time
for(i in c(2,8:11)){
  data[,i] = as.factor(data[,i])
}

In [ ]:
#Convert numeric to categorical/binning
data$mpgcat[data$mpg >= 10 & data$mpg <= 16] = "Low"
data$mpgcat[data$mpg > 16 & data$mpg <= 20] = "Medium"
data$mpgcat[data$mpg > 20] = "High"

In [ ]:

#Convert categorical into numeric
voice = c(rep("Meduim", 30), rep("Poor", 30), rep("Rich", 40))
voice_factor = factor(voice, labels = (1:length(levels(factor(voice)))))
voice_numeric = as.numeric(voice_factor)

In [ ]:

#Sorting in ascending order
data = data[order(data$cyl),]
head(data,n=20)

In [ ]:
#Sorting in descending order
data = data[order(-data$mpg),]# Negative Sign Shows the 
head(data,n=20)

In [ ]:
#Merging Two dataframes
df1 = data.frame(CustomerId = c(1:6), Product = c(rep("Toaster", 3), rep("Radio", 3)))
df2 = data.frame(CustomerId = c(2, 4, 6), State = c(rep("Alabama", 2), rep("Ohio", 1)))
df1
df2
MergedData = merge(df1, df2, by = "CustomerId")
MergedData

In [ ]:

#Joins
LeftJoin = merge(df1, df2, by = "CustomerId", all.x = TRUE) #vlookup
LeftJoin
RightJoin = merge(df1, df2, by = "CustomerId",all.y = TRUE)
RightJoin
CrossJoin = merge(df1, df2, by = NULL)
CrossJoin

In [ ]:
#Aggregating
data = mtcars

aggregate(data, by = list(data$gear), mean) #Compute Summary Statistics of Data Subsets

aggregate(data, by = list(data$cyl, data$vs), mean)
aggregate(data, by = list(data$cyl), sd)

In [ ]:
#Gives the observation which have cyl value 6
grep(6, data$cyl)
data[c(1,2,4,6,10,11,30),]
grep(14.3, data$mpg)

In [ ]:
#Repalcing one/multiple characters by other
text="I/work/in/India"
text_1="I work in Bengaluru, This city too congested"
gsub("city","BLR",text_1)
gsub("/", "#", text)

x = c("This is a sentence about axis",
       "A second pattern is also listed here")

sub("is", "XY", x) #only first occurence
gsub("is", "XY", x) #All occurence

In [ ]:
#remove column by its name
data$mpg = NULL
rm(list=ls())

data=mtcars
data

In [ ]:
#convert row.names into a column
data = cbind(rownames(data), data)
data
rownames(data) = NULL
data
colnames(data)[1] = "CarNames"
data
write.csv(data, "data_transform.csv", row.names = F)

In [8]:
# Lets define vector
Player1 = c(16, 9, 13, 5, 2, 17, 14)

for (i in Player1) {
  print(i)
  print(i+2)
}

[1] 16
[1] 18
[1] 9
[1] 11
[1] 13
[1] 15
[1] 5
[1] 7
[1] 2
[1] 4
[1] 17
[1] 19
[1] 14
[1] 16

In [40]:
mov = read.csv("Movie_Ratings.csv", header = T)

In [34]:
head(mov)
str(mov)

  Film                  Genre     Rotten.Tomatoes.Ratings.. Audience.Ratings..
1 (500) Days of Summer  Comedy    87                        81
2 10,000 B.C.           Adventure  9                        44
3 12 Rounds             Action    30                        52
4 127 Hours             Adventure 93                        84
5 17 Again              Comedy    55                        70
6 2012                  Action    39                        63
  Budget..million... Year.of.release
1   8                2009
2 105                2008
3  20                2009
4  18                2010
5  20                2009
6 200                2009

'data.frame':	562 obs. of  6 variables:
 $ Film                     : Factor w/ 562 levels "(500) Days of Summer ",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Genre                    : Factor w/ 7 levels "Action","Adventure",..: 3 2 1 2 3 1 3 5 3 3 ...
 $ Rotten.Tomatoes.Ratings..: int  87 9 30 93 55 39 40 50 43 93 ...
 $ Audience.Ratings..       : int  81 44 52 84 70 63 71 57 48 93 ...
 $ Budget..million...       : int  8 105 20 18 20 200 30 32 28 8 ...
 $ Year.of.release          : int  2009 2008 2009 2010 2009 2009 2008 2007 2011 2011 ...

In [35]:
colnames(mov)=c(Film="Film",Genre="Genre",Rotten.Tomatoes.Ratings..="Critic_Ratings",
                Audience.Ratings..="Audience_Ratings",Budget..million...="Budget",Year.of.release="Release_year")
head(mov)

  Film                  Genre     Critic_Ratings Audience_Ratings Budget
1 (500) Days of Summer  Comedy    87             81                 8
2 10,000 B.C.           Adventure  9             44               105
3 12 Rounds             Action    30             52                20
4 127 Hours             Adventure 93             84                18
5 17 Again              Comedy    55             70                20
6 2012                  Action    39             63               200
  Release_year
1 2009
2 2008
3 2009
4 2010
5 2009
6 2009

In [37]:
mov2<-mov
for(i in 1:nrow(mov2)){
    if(mov2$Release_year[i]==2009){
        mov2$new_col[i]=1
    }else{
        mov2$new_col[i]=0
         }
}

In [38]:
mov2

    Film                               Genre     Critic_Ratings
1   (500) Days of Summer               Comedy    87
2   10,000 B.C.                        Adventure  9
3   12 Rounds                          Action    30
4   127 Hours                          Adventure 93
5   17 Again                           Comedy    55
6   2012                               Action    39
7   27 Dresses                         Comedy    40
8   30 Days of Night                   Horror    50
9   30 Minutes or Less                 Comedy    43
10  50/50                              Comedy    93
11  88 Minutes                         Drama      5
12  A Dangerous Method                 Drama     79
13  A Nightmare on Elm Street          Horror    13
14  A Serious Man                      Drama     89
15  A Very Harold and Kumar Christmas  Comedy    72
16  Abduction                          Action     4
17  Across the Universe                Romance   54
18  Adventureland                      Comedy    89
19  Albert Nobbs                       Drama     53
20  Alice in Wonderland                Adventure 52
21  Alien vs. Predator -- Requiem      Horror    14
22  Aliens in the Attic                Adventure 30
23  All About Steve                    Comedy     6
24  All Good Things                    Drama     33
25  Amelia                             Adventure 21
26  American Gangster                  Thriller  79
27  An Education                       Drama     94
28  Anonymous                          Drama     46
29  Apollo 18                          Horror    23
30  Appaloosa                          Action    77
⋮   ⋮                                  ⋮         ⋮
533 Warrior                            Action    83
534 Watchmen                           Action    64
535 Water For Elephants                Drama     60
536 We Bought a Zoo                    Comedy    63
537 We Own the Night                   Drama     55
538 Welcome Home, Roscoe Jenkins       Comedy    24
539 What Happens in Vegas              Comedy    28
540 What's Your Number                 Comedy    24
541 Whatever Works                     Comedy    50
542 When in Rome                       Comedy    15
543 Where the Wild Things Are          Adventure 73
544 Whip It                            Drama     84
545 Whiteout                           Action     7
546 Why Did I Get Married Too?         Comedy    27
547 Wild Hogs                          Comedy    14
548 Winter's Bone                      Drama     94
549 X-Men Origins: Wolverine           Action    37
550 X-Men: First Class                 Action    87
551 Year One                           Adventure 14
552 Yes Man                            Comedy    43
553 Yogi Bear                          Comedy    14
554 You Again                          Comedy    18
555 You Don't Mess with the Zohan      Comedy    36
556 You Will Meet a Tall Dark Stranger Comedy    43
557 Your Highness                      Comedy    26
558 Youth in Revolt                    Comedy    68
559 Zack and Miri Make a Porno         Romance   64
560 Zodiac                             Thriller  89
561 Zombieland                         Action    90
562 Zookeeper                          Comedy    14
    Audience_Ratings Budget Release_year new_col
1   81                 8    2009         1
2   44               105    2008         0
3   52                20    2009         1
4   84                18    2010         0
5   70                20    2009         1
6   63               200    2009         1
7   71                30    2008         0
8   57                32    2007         0
9   48                28    2011         0
10  93                 8    2011         0
11  51                30    2007         0
12  89                20    2011         0
13  40                35    2010         0
14  64                 7    2009         1
15  71                19    2011         0
16  46                35    2011         0
17  84                45    2007         0
18  56                10    2009         1
19  43                 8    2011         0
20  72               200    2010         0
21  37                40    2007         0
22  46                45    2009         1
23  35                15    2009         1
24  64                20    2010         0
25  35                40    2009         1
26  87               100    2007         0
27  78                 8    2009         1
28  66                30    2011         0
29  31                 5    2011         0
30  55                20    2008         0
⋮   ⋮                ⋮      ⋮            ⋮
533 93                25    2011         0
534 68               130    2009         1
535 72                38    2011         0
536 79                50    2011         0
537 63                21    2007         0
538 64                35    2008         0
539 72                35    2008         0
540 50                20    2011         0
541 63                15    2009         1
542 44                 0    2010         0
543 59               100    2009         1
544 73                15    2009         1
545 28                35    2009         1
546 67                20    2010         0
547 72                90    2007         0
548 73                 2    2010         0
549 72               150    2009         1
550 88               160    2011         0
551 31                60    2009         1
552 72                70    2008         0
553 36                80    2010         0
554 45                20    2010         0
555 50                80    2008         0
556 35                22    2010         0
557 36                50    2011         0
558 52                18    2009         1
559 70                24    2008         0
560 73                65    2007         0
561 87                24    2009         1
562 42                80    2011         0

### This new col can be add by another method which is good in comparision to for loop

In [41]:
mov2$new_col_2=ifelse(mov2$Release_year==2010,1,0)

In [42]:
head(mov2)

  Film                  Genre     Critic_Ratings Audience_Ratings Budget
1 (500) Days of Summer  Comedy    87             81                 8
2 10,000 B.C.           Adventure  9             44               105
3 12 Rounds             Action    30             52                20
4 127 Hours             Adventure 93             84                18
5 17 Again              Comedy    55             70                20
6 2012                  Action    39             63               200
  Release_year new_col new_col_2
1 2009         1       0
2 2008         0       0
3 2009         1       0
4 2010         0       1
5 2009         1       0
6 2009         1       0

### Apply Family

In [45]:

#Apply Functions Over Array Margins:->Returns a vector or array or list of values obtained by applying a function to margins of an array or matrix.
#apply(X, MARGIN, FUN, ...)

In [46]:
apply(mov2[1:10,1:7], 1, mean)

Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”Warning message in mean.default(newX[, i], ...):
“argument is not numeric or logical: returning NA”

 1  2  3  4  5  6  7  8  9 10
NA NA NA NA NA NA NA NA NA NA