# - matrix()
# - rbind()
# - cbind()

In [2]:
mydata<-1:20
mydata

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [4]:
mat1<-matrix(mydata,4,5)
mat1

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    5     9   13   17
[2,] 2    6    10   14   18
[3,] 3    7    11   15   19
[4,] 4    8    12   16   20

In [6]:
# By default By row is FALSE Lets make it True 
mat2<-matrix(mydata,4,5,byrow = TRUE)
mat2

     [,1] [,2] [,3] [,4] [,5]
[1,]  1    2    3    4    5
[2,]  6    7    8    9   10
[3,] 11   12   13   14   15
[4,] 16   17   18   19   20

In [7]:
# Access the element from Matrix 
mat2[2,3]

[1] 8

#### use of rbind

In [13]:
r1<-c("I","am","happy")
r2<-c("What","a","day")
r3<-c(1,2,3)# Here row 3 is vector of numeric but as all other vectors are character so in matrix this row will also be like a character

In [18]:
mat3<-rbind(r1,r2,r3)
mat3

   [,1] [,2] [,3]
r1 I    am   happy
r2 What a    day
r3 1    2    3

   I1   I2 I3
r1 I    am happy
r2 What a  day
r3 1    2  3

In [19]:
colnames(mat3)<-c("I1","I2","I3")
mat3

   I1   I2 I3
r1 I    am happy
r2 What a  day
r3 1    2  3

In [20]:

# How we can access in this type of matrix
mat3["r2","I2"]

[1] "a"

In [22]:
mat3["r2",2]

[1] "a"

### How to use cbind()

In [23]:
c1<-1:5
c2<-seq(-1,-5)

In [27]:
mat4<-cbind(c1,c2)
mat4
is.vector(mat4)
is.matrix(mat4)

     c1 c2
[1,] 1  -1
[2,] 2  -2
[3,] 3  -3
[4,] 4  -4
[5,] 5  -5

[1] FALSE

[1] TRUE

In [29]:
Charlie <-1:5
Charlie

[1] 1 2 3 4 5

In [33]:
names(Charlie)<-c('a','b','c','d','e')
names(Charlie)
print('-------------------------------')
Charlie

[1] "a" "b" "c" "d" "e"

[1] "-------------------------------"

a b c d e
1 2 3 4 5

In [39]:
rep(c("a","b","c"),times=3)

temp_vector<-rep(c("a","b","c"),each=3)

[1] "a" "b" "c" "a" "b" "c" "a" "b" "c"

In [41]:
#Create The matrix "Bravo"
Bravo<-matrix(temp_vector,3,3)
Bravo

     [,1] [,2] [,3]
[1,] a    b    c
[2,] a    b    c
[3,] a    b    c

In [44]:
rownames(Bravo)<-c("How","Are","You")
Bravo

    [,1] [,2] [,3]
How a    b    c
Are a    b    c
You a    b    c

In [46]:
colnames(Bravo)<-c("C1","C2","C3")

In [48]:
Bravo

    C1 C2 C3
How a  b  c
Are a  b  c
You a  b  c