#### Scenario:
You are a Data Scientist working for a consulting firm. One of your
colleagues from the Auditing department has asked you to help them assess the
financial statement of organisation X.
You have been supplied with two vectors of data: *monthly revenue* and monthly
expenses for the financial year in question. Your task is to calculate the following
financial metrics:
- profit for each month
- profit after tax for each month (the tax rate is 30%)
- profit margin for each month - equals to profit a after tax divided by revenue
- good months - where the profit after tax was greater than the mean for the year
- bad months - where the profit after tax was less than the mean for the year
- the best month - where the profit after tax was max for the year
- the worst month - where the profit after tax was min for the year

In [28]:
revenue <- c(14574.49, 7606.46, 8611.41, 9175.41, 8058.65, 8105.44, 11496.28, 9766.09, 10305.32, 14379.96, 10713.97, 15433.50)
expenses <- c(12051.82, 5695.07, 12319.20, 12089.72, 8658.57, 840.20, 3285.73, 5821.12, 6976.93, 16618.61, 10054.37, 3803.96)

In [29]:
profit=revenue-expenses
profit

 [1]  2522.67  1911.39 -3707.79 -2914.31  -599.92  7265.24  8210.55  3944.97
 [9]  3328.39 -2238.65   659.60 11629.54

In [30]:
# taX will be at profit 
# So First need to calculate tax 30 % on profit and round it up to 2 decimal point 
Tax=round(profit*0.3,2)
Tax

 [1]   756.80   573.42 -1112.34  -874.29  -179.98  2179.57  2463.17  1183.49
 [9]   998.52  -671.60   197.88  3488.86

In [31]:
profit_after_tax=profit-Tax
profit_after_tax

 [1]  1765.87  1337.97 -2595.45 -2040.02  -419.94  5085.67  5747.38  2761.48
 [9]  2329.87 -1567.05   461.72  8140.68

In [32]:
# Profit Margin each Month = profit a after tax divided by revenue

In [21]:
Profit_Margin<-round(profit_after_tax / revenue,2)*100 # Multiply by 100 for percentage 
Profit_Margin

 [1]  12  18 -30 -22  -5  63  50  28  23 -11   4  53

In [ ]:
# good months - where the profit after tax was greater than the mean for the year

In [33]:
profit_mean=mean(profit_after_tax)
profit_mean
good_months<- profit_after_tax > profit_mean
good_months

[1] 1750.682

 [1]  TRUE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE  TRUE

In [35]:
bad_months<- profit_after_tax < profit_mean
bad_months

 [1] FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE

In [37]:
# OR 
bad_months<-!good_months
bad_months

 [1] FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE

In [40]:
best_month<-profit_after_tax==max(profit_after_tax)

In [41]:
best_month

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE

In [42]:
worst_month<-profit_after_tax==min(profit_after_tax)

In [43]:
worst_month

 [1] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [45]:
# Units of Thousands 
revenue_1000<-round(revenue/1000)
expenses_1000